.movie-list
    ul(v-if='films')
        li(v-for='film in films')
            transition(appear name='fade')
                article
                    router-link(
                        v-bind:to='{ name: "movie", params: { film: film.imdbID }}'
                    )
                        figure
                            img.no-image(
                                v-if='film.Poster === "N/A"'
                                v-cloak
                                src='../../assets/images/image.svg'
                                v-bind:alt='film.Title'
                                )
                            img(
                                v-else
                                v-cloak
                                v-bind:src='film.Poster'
                                v-bind:alt='film.Title'
                               )

                            figcaption {{ film.Title }} ({{ film.Year }})
    template(v-else-if='loading')
        img.empty(
            src='../../assets/images/loading.svg'
            alt='Loading ...'
        )
        p.loading Loading
    template(v-else-if='error')
        img.error(
            src='../../assets/images/error.svg'
            v-bind:alt='error'
        )
        p.no-results Error: {{ error }}
